.container {
    display:flex;
    flex-flow: column;
    align-items: center;
}

.aquamarine {
    background-color: #7fffd4;
}

button {
    background-color: steelblue;
    color: ghostwhite;
    font-size: 1.2em;
    border-radius: 3px;
}
